.chart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &-btn {
    width: 25%;
    background-color: transparent;
    border-radius: 0.3rem;
    border: none;
    color: #16161a;
    height: 40px;
    font-size: 1.1rem;
    border: 2px solid #0056ad;
    transition: all 0.4s ease-in-out;
    margin:0 1rem;
    &:hover,
    &.active-btn {
      transition: all 0.4s ease-in-out;
      background-color: #0056ad;
      border: 2px solid transparent;
      color: #fff;
    }
  }
}
